.wp-block-bifrm-iframe {
	scroll-behavior: smooth;

	* {
		scroll-behavior: smooth;
		box-sizing: border-box;
	}

	.bIframe {
		display: inline-block;
		position: relative;
		overflow: hidden;

		iframe {
			width: 100%;
			border: none;
			box-shadow: none;
		}

		.fullScreenBtn {
			width: 36px;
			height: 36px;
			position: absolute;
			bottom: 16px;
			right: 5px;
			transform: translateX(-50%);
			display: inline-flex;
			align-items: center;
			justify-content: center;
			color: #fff;
			background-color: #e7f0fe;
			border: none;
			border-radius: 5px;
			outline: 0;
			box-shadow: none;
			cursor: pointer;

			&:hover {
				transform: translateX(-50%) scale(1.01);
				border: none;
				outline: 0;
				box-shadow: none;
			}

			svg {
				width: 28px;
				height: 28px;
				fill: #000;
			}
		}
	}

	&:fullscreen .bIframe {
		height: 100% !important;
	}
}